/* auth-common.css */
.error-message {
    color: #E1523A;
    font-size: 1.4rem;  
    margin-top: 0.5rem;
    display: block;
  }
  
  .input-field {
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .button {
    width: 100%;
    height: 40px;
    background-color: #a1b872;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
  }
  
  .button:hover {
    background-color: #8da960;
  }
  