.sprout {
  background-color: #cadbae;
}

.olive {
  background-color: #a1b872;
}

.kaitoke {
  background-color: #003e19;
}

.straw {
  background-color: #e5d67b;
}

.mango {
  background-color: #ffe083;
}
.popsicle {
  background-color: #e99a24;
}
